/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================== MY CODE =========================== */

#bod {
	
	background-image: url("images/pd.png");
}

div.gameTitleBox {

	background-color: #BF5728;
	width: 50%;
	margin:10px;
	padding:14px;

}

h1.title {

	color: white;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	letter-spacing: .4em;

}

div.gameInstructionsBox {
	
	background-color: #F2DEB7;
	width:50%;
	margin:10px;
	padding:14px;

}

p.instructions {
	
	color: green;
	font-size: 1.2em;

}
/* ================= container with a number box ================= */
div.randomNumberContainer {
	
	background-color: #70BF96;
	width: 20%;
	margin:10px 10px 0px 10px;
	padding: 1px;
	float: left;

}

p#randomNumber {
	
	color: white;
	text-align: center;
	font-size: 2.6em;
	padding:15px;
	letter-spacing: .2em;

}

/* ================= wins and losses box ========================= */
div.winsLosses {
	
	background-color: #70BF96;
	width: 10%;
	margin:10px 0px 0px 0px;
	float: left;
	padding:20px;

}

div.winContainer {

	display: block;
}

h3.wins {
	
	margin-left: 10px;
	color:white;
	float:left;
	

}

p#winTally {
	
	margin-left: 10px;
	color:white;
	float:left;

}

div.lossContainer {

	display: block;
	
}


h3.losses {

	margin-left: 10px;
	color:white;
	float:left;
	
}


p#lossTally {
	
	margin-left: 10px;
	color:white;
	float:left;
	
}

/* ================= ruby container ============================= */

div.rubysContainer {
	width:100%;
	height:100px;
	clear: both;

}

input.ruby {

	width:80px;
	height:80px;
	margin:10px 10px 10px 10px;

}


/* ================= score stuff ================================ */

div.yourScoreBox {

	width:30%;
	margin:10px 0px 0px 10px;
	background-color: #1D9190;
	padding:10px;
	


}

p.yourScore {
	
	font-size: 1.4em;
	color:white;
	text-align: center;
	letter-spacing: .1em;


}

div.scoreContainer {
	
	width:30%;
	height:80px;
	margin:10px 0px 30px 10px;
	background-color: #1D9190;
	padding:20px;

}

p#yourScore {

	text-align: center;
	font-size: 3em;
	color:white;
}








